* {
  text-align: center;
  background-color: #FEF8D9;
}

.topnav {
  background-color: #FF4E4A;
  height: 35px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.link {
  background-color: #FF4E4A;
  float: right;
  color: white;
  font-family: "itim", sans-serif;
  margin: 0 15px 0 15px;
  font-size: 17px;
}

.link:hover {
  color: #FFD4D4;
}

h1 {
  background-color: #FF4E4A;
  color: white;
  width: 350px;
  margin: 30px auto;
  border-radius: 20px;
  font-family: "itim", sans-serif;
  font-size: 45px;
}

.pokedex-container {
  background-color: #FF4E4A;
  width: 670px;
  height: 320px;
  border-radius: 20px;
  margin: auto;
}

.inline-block {
  width: 300px;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  background-color: transparent;
}

.pokemon-name {
  width: 280px;
  height: 40px;
  background-color: #DDFCFF;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: 2.5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.pokemon-name h3{
  background-color: #DDFCFF;
}

.pokemon-img {
  width: 280px;
  height: 110px;
  background-color: #DDFCFF;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: 2.5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img img {
  background-color: #DDFCFF;
}

.id {
  width: 280px;
  height: 25px;
  background-color: #DDFCFF;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: 2.5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id h3 {
  background-color: #DDFCFF;
}

.search-pokemon {
  width: 280px;
  height: 25px;
  background-color: #DDFCFF;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: 2.5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 200px;
  border-radius: 15px;
  border: 0;
  background-color: #DDFCFF;
}

button {
  background-color: black;
  color: white;
  border-radius: 15px;
}

.btn-container {
  display: inline-flex;
  margin: 5px 20px 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF4E4A;
}

#square-btn1 {
  background-color: black;
  height: 15px;
  width: 20px;
  border-radius: 15px;
}

#left-btn {
  color: black;
  border: 25px solid black;
  border-top-color: transparent;
  border-right-color: black;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin: 0px 20px 0px 0px;
  background-color: #FF4E4A;
}

#right-btn {
  color: black;
  border: 25px solid black;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: black;
  margin: 0px 0px 0px 20px;
  background-color: #FF4E4A;
}

#square-btn2 {
  background-color: black;
  height: 15px;
  width: 20px;
  border-radius: 15px;
}

#right-container {
  width: 280px;
  background-color: #DDFCFF;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  margin: 12px 20px 12px 20px;
}

.type {
  width: 280px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  margin: 2.5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type h3 {
  background-color: rgb(238, 237, 237);
  border-radius: 20px;
  padding: 6px;
}

.height-weight {
  width: 280px;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  margin: 2.5px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.height {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.height p, b {
  background-color: white;
}

.weight {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.weight p, b {
  background-color: white;
}

.stats {
  width: 260px;
  height: 115px;
  background-color: white;
  border-radius: 15px;
  margin: 2.5px auto;
  display: flex;
  flex-direction: column;
  padding: 10px
}

.stats p, b {
  margin: 1px 0px 0px 20px;
  text-align: left;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .inline-block {
    display: flex;
  }

  .pokedex-container {
    background-color: #FF4E4A;
    width: 330px;
    height: 660px;
  }

  #right-container {
    display: flex;
    margin: auto;
    width: 280px;
  }

  #left-container {
    display: flex;
    margin: auto;
    width: 280px;
  }

  .btn-container {
    margin: 30px 0 20px 0;
  }
}

@media only screen and (max-width: 320px) {
  
  h1 {
    width: 265px;
    font-size: 30px;
  }
  
  .inline-block {
    display: flex;
  }

  .pokedex-container {
    background-color: #FF4E4A;
    width: 265px;
    height: 660px;
  }

  #left-container {
    display: flex;
    margin: auto;
    width: 250px;
  }

  .pokemon-name {
    width: 220px;
  }

  .pokemon-img {
    width: 220px;
  }

  .id {
    width: 220px;
  }

  .search-pokemon {
    width: 220px;
  }

  #right-container {
    display: flex;
    margin: auto;
    width: 220px;
  }

  .btn-container {
    margin: 30px 0 20px 0;
  }

  input {
    width: 135px;
  }

.type {
  width: 200px;
}

.height-weight {
  width: 200px;
}

.stats {
  width: 200px;
  padding: 8px 0 8px 0;
}
}