* {
  background-color: #197092;
  text-align: center;
}

.topnav {
  align-items: center;
  background-color: #ff4e4a;
  display: flex;
  height: 40px;
  width: 100%;
}

.link {
  background-color: #ff4e4a;
  color: white;
  font-family: "Boogaloo", sans-serif;
  font-size: 25px;
  margin: 0 15px 0 15px;
  text-decoration: none;
  transition: 350ms;
}

.link:hover {
  color: #ffd4d4;
  cursor: pointer;
}

h1 {
  background-color: #ff4e4a;
  border-radius: 20px;
  color: white;
  font-family: "itim", sans-serif;
  font-size: 45px;
  margin: 30px auto;
  width: 350px;
}

.pokedex-container {
  background-color: #ff4e4a;
  border-radius: 20px;
  box-shadow: 3px 5px 10px black;
  height: 320px;
  margin: auto;
  width: 670px;
}

.inline-block {
  background-color: transparent;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  vertical-align: top;
  width: 300px;
}

.pokemon-name {
  align-items: center;
  background-color: #fef5e1;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 2.5px auto;
  text-transform: capitalize;
  width: 280px;
}

.pokemon-name h3 {
  background-color: transparent;
}

.pokemon-img {
  align-items: center;
  background-color: #fef5e1;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  height: 110px;
  justify-content: center;
  margin: 2.5px auto;
  width: 280px;
}

.pokemon-img img {
  background-color: #fef5e1;
}

.id {
  align-items: center;
  background-color: #fef5e1;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 2.5px auto;
  width: 280px;
}

.id h3 {
  background-color: #fef5e1;
}

.search-pokemon {
  align-items: center;
  background-color: #fef5e1;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 2.5px auto;
  width: 280px;
}

input {
  background-color: #fef5e1;
  border-radius: 15px;
  border: none;
  width: 200px;
}

button {
  background-color: black;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.btn-container {
  align-items: center;
  background-color: #ff4e4a;
  display: flex;
  justify-content: center;
  margin: 5px 20px 5px 20px;
}

.square-btn1, .square-btn2 {
  background-color: black;
  height: 15px;
  width: 20px;
  border-radius: 15px;
}

.left-btn, .right-btn {
  background-color: #ff4e4a;
  border: 25px solid black;
  color: black;
  cursor: pointer;
}

.left-btn{
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: black;
  border-top-color: transparent;
  margin: 0px 20px 0px 0px;
}

.right-btn {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: black;
  margin: 0px 0px 0px 20px;
}

#right-container {
  background-color: #fef5e1;
  border: 2px solid black;
  border-radius: 15px;
  margin: 12px 20px 12px 20px;
  width: 280px;
}

.type {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 2.5px auto;
  width: 280px;
}

.type h3 {
  background-color: rgb(238, 237, 237);
  border-radius: 20px;
  padding: 6px;
}

.height-weight {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: center;
  margin: 2.5px auto;
  width: 280px;
}

.height, .weight {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 30px;
  justify-content: center;
}

.height p,
.height b, 
.weight p, 
.weight b {
  background-color: transparent;
}

.stats {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 115px;
  margin: 2.5px auto;
  padding: 10px;
  width: 260px;
}

.stats p,
.stats b {
  background-color: transparent;
  margin: 1px 0px 0px 20px;
  text-align: left;
}

@media only screen and (max-width: 700px) {

  .pokedex-container {
    height: 660px;
    width: 330px;
  }

  #right-container {
    margin: auto;
  }

  .btn-container {
    margin: 30px 0 20px 0;
  }
}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 30px;
    width: 265px;
  }

  .pokedex-container {
    width: 265px;
  }

  #left-container {
    width: 250px;
  }

  .pokemon-name, 
  .pokemon-img,
  .id, 
  .search-pokemon{
    width: 220px;
  }

  #right-container {
    width: 220px;
  }

  input {
    width: 135px;
  }

  .type,
  .height-weight,
  .stats {
    width: 200px;
  }

  .stats {
    padding: 8px 0 8px 0;
  }
}
