* {
  text-align: center;
  background-color: #C4EFFF;
}

header {
  background-color: #FF4E4A;
  height: 35px;
}

h1 {
  background-color: #FF4E4A;
  color: white;
  width: 350px;
  margin: 30px auto;
  border-radius: 20px;
  font-family: "itim", sans-serif;
  font-size: 45px;
}

h2 {
  font-family: "boogaloo", sans-serif;
  font-size: 30px;
  margin: 5px 0px 25px 0px;
}

.home-container {
  width: 550px;
  height: 350px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEA7B;
}

.inline-button {
  display: inline-flex;
  background-color: #FFEA7B;
}

#i-choose-you {
  background-color: #197092;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 0px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#i-choose-you:hover {
  background-color: #ff8280;
}

#i-choose-you h3{
  font-family: "boogaloo", sans-serif;
  background-color: #fef5e1;
}

#i-choose-you img {
  width: 160px;
  background-color: #fef5e1;
}

.outline {
  border-width: 5px;
  border-color: #FF4E4A;
  border-style: solid;
  border-radius: 20px;
  background-color: #fef5e1;
  width: 175px;
  height: 175px;
}

#pokeresearch {
  background-color: #18BCA2;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 0px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#pokeresearch:hover {
  background-color: #ff8280;
}

#pokeresearch h3 {
  font-family: "boogaloo", sans-serif;
  background-color: #fef5e1;
}

#pokeresearch img {
  height: 95px;
  background-color: transparent;
  margin: auto;
}

.circle {
  background-color: #FF4E4A;
  border-radius: 50%;
  width: 100px;
  margin: auto;
}

.outline2 {
  border-width: 5px;
  border-color: #197092;
  border-style: solid;
  border-radius: 20px;
  width: 175px;
  height: 175px;
  background-color: #fef5e1;
}

@media only screen and (max-width: 600px) {
  .home-container {
    width: 350px;
    height: 485px;
  }
  
  .inline-button {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #i-choose-you {
    margin: 25px auto;
  }

  #pokeresearch {
    margin: 25px auto;
  }
}

@media only screen and (max-width: 320px) {
  .home-container {
    width: 265px;
    height: 485px;
  }

  .inline-button {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  h1 {
    width: 265px;
    font-size: 40px;
  }

  #i-choose-you {
    margin: 25px auto;
  }

  #pokeresearch {
    margin: 25px auto;
  }
}