* {
  text-align: center;
  background-color: #FEF8D9;
  /* color: white; */
}

header {
  background-color: #FF4E4A;
  height: 35px;
}

h1 {
  background-color: #FF4E4A;
  color: white;
  width: 350px;
  margin: 30px auto;
  /* padding: 10px; */
  border-radius: 20px;
  font-family: "itim", sans-serif;
  font-size: 45px;
}

.instructions {
  width: 600px;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 5px;
  font-family: "boogaloo", sans-serif;
  font-size: 30px;
}

p {
  margin: 5px;
  font-family: "nunito", sans-serif;
}

.button {
  display: inline-flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button img:hover {
  animation: shake 0.9s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  20% { transform: translate(-8px, 0px) rotate(-18deg); }
  30% { transform: translate(8px, 0px) rotate(18deg); }
  50% { transform: translate(-8px, 0px) rotate(-8deg); }
  60% { transform: translate(10px, 0px) rotate(10deg); } 
  100% { transform: translate(0px, 0px) rotate(0deg); } 
}

.button img:active {
  transform: 
}

.button img {
  width: 130px;
  margin: 0px 5px 5px 5px;
}

.button p{
  font-family: "boogaloo", sans-serif;
  font-size: 20px;
}

.starter-container {
  margin: 35px auto;
  width: 200px;
  height: 250px;
  border-color: #FF4E4A;
  border-style: solid;
  border-width: 15px;
  border-radius: 20px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  background-color: #DDFCFF;
}

.starter-container h3 {
  font-family: "boogaloo", sans-serif;
  font-size: 30px;
  margin: 0 0 30px 0;
  text-transform: capitalize;
  background-color: #DDFCFF;
  color: black
}

.starter-container div {
  background-color: #DDFCFF;
}

.starter-container img {
  height: 130px;
  width: 130px;
  background-color: #DDFCFF;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  .instructions {
    width: 350px;
  }

  .button img {
    width: 90px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 40px;
    width: 270px;
  }

  .instructions {
    width: 270px;
  }

  h2 {
    font-size: 25px;
  }

  .button img {
    width: 76px;
  }
}